<mat-toolbar color="primary">
    <span><img src="/assets/images/logo2.jpg" height=45 width=55></span>
    <a mat-button routerLink="/home" routerLinkActive="active"><span class="fa fa-home fa-lg"></span> Home</a>
    <a mat-button routerLink="/visualization" routerLinkActive="active"><span class="fa fa-television fa-lg"></span> Visualization</a>
    <a mat-button routerLink="/prediction" routerLinkActive="active"><span class="fa fa-archive fa-lg"></span> Prediction</a>
   <!-- <a mat-button routerLink="/contactus" routerLinkActive="active"><span class="fa fa-address-card fa-lg"></span>
      Contact</a> -->
    <span class="flex-spacer"></span>
  </mat-toolbar>
  
  <div class="container jumbotron" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.xs="start center" fxLayoutAlign.sm="start center" fxLayoutAlign.gt-sm="center center"
    fxLayoutGap="10px">
  
    <div fxFlex fxFlex.gt-sm="50%">
      <h1>JGDTech Artificial Intelligence</h1>
      <p>Our Mission is to create technology that determine the future of industries by developing platforms,that are time-saving
        and intuitive for them.</p>
    </div>
    <!--<div fxFlex fxFlex.gt-sm="20%">
      <img src="/assets/images/logo2.jpg" alt="Logo">
    </div> -->
    <div fxFlex></div>
    <div fxFlex fxFlex.gt-sm="20%">
        <img src="/assets/images/logo2.jpg" height=150 width=200 alt="Logo">
      </div>
      <div fxFlex></div>
  </div>
  